<div class="div-form">
    <div class="body-form">
        <form class="formlogin">
            <div fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Tên đăng nhập</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Mật khẩu</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>

            <div class="submit-login">
                <button mat-flat-button color="primary">Đồng ý</button>
                &nbsp;
                <button mat-stroked-button>Đóng</button>
            </div>
        </form>
    </div>

</div>