<div class="header">
    <div class="header-body">
        <div class="header-body-container">
            <div class="header-top">
                <div class="header-top-left">
                    <div class="d-top-left">
                        <mat-icon svgIcon="icon_vnpt_accessibility"></mat-icon>
                        <p>0866555555</p>
                    </div>

                    <div class="d-top-left">
                        <div>icon2</div>
                        <p>huunghia130@gmail.com</p>
                    </div>

                </div>
                <div class="header-top-right">
                    <a>
                        <div class="a-body">
                            <div>icondn</div>
                            <p>dangnhap</p>
                        </div>
                    </a>
                    <a>
                        <div class="a-body">
                            <div>icondn</div>
                            <p>dangnhap</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="header-container">
                <p>hjhjjhjjh</p>
            </div>
            <div class="header-bottom">
                <p>hjhjjhjjh</p>
            </div>
        </div>

    </div>

</div>