.header{
    margin: 0px auto;
    width: 95%;
    background-color: #fff;
    .header-body{
        margin: 0px auto;
        width: 60%;
        background: red;
        .header-body-container{
            .header-top{
                display: flex;
                justify-content: space-around;
                width: 100%;
          
                .header-top-left{
                    display: flex;
                    width: 50%;
                    .d-top-left{
                       
                        display: flex;
                        margin: 5px;
                        
                    }
                }
                .header-top-right{
                    display: flex;
                    a{
                        width: 50%;
                        display: flex;
                        margin: 5px;
          
                        .a-body{
                            display: flex;
                        }
                    }


                }
            }
        }
    }
    // display: flex;
}